@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner {
  padding: 20px 20px 30px 20px;
}

.media_body {
  padding: 10px;
}

.container-fluid {
  padding: 15px 0;
  background-color: black;
}

nav.navbar {
  padding: 0 10px;
  background-color: black;
  color: white;
}

.navbar-brand {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transform: scaleY(1.7);
          transform: scaleY(1.7);
  letter-spacing: 3px;
  font-size: xx-large;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 10px;
}

.image img {
  max-width: 85%;
  max-height: 90%;
  border-radius: 10px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px 20px;
}

.info p:nth-child(1) {
  -webkit-transform: scaleY(0.9);
          transform: scaleY(0.9);
  text-transform: uppercase;
}

.info p#user_Name {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  word-spacing: 5px;
  margin: 0 0 20px 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.info h6 {
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 20px 0;
}

.info #headLine {
  color: gray;
  word-break: keep-all;
  margin: 0 0 20px 0;
}

.info .list_of_basic_info .email,
.info .list_of_basic_info .education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.info .list_of_basic_info .email p,
.info .list_of_basic_info .education p {
  margin: 0 5px;
  color: gray;
  font-size: small;
  cursor: pointer;
}

.info .list_of_basic_info .email p:hover,
.info .list_of_basic_info .education p:hover {
  color: #4677ff;
}

.info .list_of_basic_info .email #icon,
.info .list_of_basic_info .education #icon {
  color: #4677ff;
}

.info .list_of_basic_info .social_media_handels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info .list_of_basic_info .social_media_handels svg {
  margin: 40px 20px 0 0;
  max-width: 12%;
  height: 30%;
  color: gray;
  cursor: pointer;
}

section {
  background-color: rgba(219, 219, 219, 0.562);
  padding: 70px 0;
}

section .welcome_area .col-lg-6 {
  padding: 0 1rem;
}

section .welcome_area .col-lg-6 h4 {
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
  padding: 0 0 1rem 0;
  margin: 0;
}

section .welcome_area .col-lg-6 p {
  text-align: justify;
}

section .welcome_area .col-lg-6 .social_widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .welcome_area .col-lg-6 .social_widgets svg {
  margin: 0 20px;
  max-width: 10%;
  height: 40%;
}

section .home_gallery_area {
  margin: 1px 0;
}

section .home_gallery_area .container h2 {
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
  padding: 0 0 1rem 0;
  margin: 0;
}

section .home_gallery_area .container p {
  text-align: justify;
  margin: 0 0 20px 0;
}

section .home_gallery_area .gallery_inner {
  padding: 0 1rem;
}

section .home_gallery_area .gallery_inner #columns_gallery {
  padding: 0 15px;
}

section .home_gallery_area .gallery_inner #columns_gallery .gallery_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

section .home_gallery_area .gallery_inner #columns_gallery .gallery_item .g_img_item {
  width: 100%;
}

section .home_gallery_area .gallery_inner #columns_gallery .gallery_item .g_img_item img {
  max-width: 100%;
  max-height: 100%;
  margin: 20px 0 20px 0;
  border-radius: 15px;
}

section .home_gallery_area .gallery_inner #columns_gallery .gallery_item .g_text_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .home_gallery_area .gallery_inner #columns_gallery .gallery_item .g_text_item h4 {
  font-weight: bold;
  font-size: larger;
  padding: 0 0 10px 0;
  text-transform: uppercase;
}

section .home_gallery_area .gallery_inner #columns_gallery .gallery_item .g_text_item a {
  text-decoration: none;
  font-weight: 700;
  font-size: large;
  margin: 0 0 10px 0;
  cursor: pointer;
}

section .home_gallery_area .gallery_inner #columns_gallery .gallery_item .g_text_item p {
  color: gray;
}

footer {
  background-color: black;
  color: white;
  padding: 70px 10px 10px 10px;
}

footer .footer_area h3 {
  font-weight: bolder;
  font-size: x-large;
  margin: 0 0 20px 0;
}

footer .footer_area p {
  color: gray;
}

footer .col-lg-2 .social_icons_wedgit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .col-lg-2 .social_icons_wedgit svg {
  margin: 0 5px;
  max-width: 8%;
  height: 10%;
}
/*# sourceMappingURL=style.css.map */